@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {

}

html {
  scroll-behavior: smooth;
}

body {

  background-color: #111111;
}

p {
  color: #909bac;
  text-wrap: pretty;
  margin-bottom: 5px;
}
.escalar:hover{
  color: white;
  text-shadow: 0px 0px 1px white;
  
}
span {
  height: 100%;
}
 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
