@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {

}

body {

  background-color: #111111;
}

p {
  color: #909bac;
  text-wrap: pretty;
  margin: 5px 0;
}
 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
